@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Model

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-3 pull-left">
            <h2>Controllers</h2>
            <div id="controllerList">
            </div>
        </div>
        <div class="col-sm-3 pull-left">
            <h2>Tables</h2>
            <div id="tableList">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 pull-left">
            <h2>Selections</h2>
            <div id="selectList">
            </div>
        </div>
    </div>
    <button type="submit" id="submit" class="btn btn-success">Submit</button>
    <button type="submit" id="reset" class="btn btn-primary">Reset</button>
    <button type="button" id="addController" class="btn btn-primary">Add New Controller</button>
}

<script>
    var selections = {};

    db.ref('/controllers/').on('value', function (snapshot) {
        AddControllers(snapshot.val());
    });
    db.ref('/tables/').on('value', function (snapshot) {
        AddTables(snapshot.val());
    });


    function AddControllers(snap) {
        $('#controllerList').empty();
        if (Object.keys(snap).length === 0) {
            $('#controllerList').html('<p>No Controllers Created Yet!</p>');
        } else {
            Object.keys(snap).forEach(function (key, index) {
                $('#controllerList').append(`<div class="panel panel-default controllerEntry" style="text-align:center;height:25px" id="${key}">${key}</div>`);
                $(`#${key}`).draggable({
                    stack: '.controllerSelect',
                    cursor: 'move',
                    revert: true
                });
            });
        }
        UpdateSelects();
    }

    function AddTables(snap) {
        $('#tableList').empty();
        Object.keys(snap).forEach(function (key, index) {
            $('#tableList').append(`<div class="panel panel-default tableEntry" style="text-align:center;height:25px" id="${key}">${key}</div>`);
            $(`#${key}`).draggable({
                stack: '.tableSelect',
                cursor: 'move',
                revert: true
            });
        });
        UpdateSelects();
    }

    function UpdateSelects() {
        $('#selectList').empty();
        var count = 3;
        if ($('.controllerEntry').length < 3) {
            count = $('.controllerEntry').length;
        }

        for (var i = 0; i < count; i++) {
            $('#selectList').append(`<div style="row"><div style="text-align:center;height:25px" id="selectController${i}" class="panel panel-default controllerSelect">&nbsp;</div><span style="display:inline-block;padding:5px"> Will Check Out </span><div id="selectTable${i}" class="panel panel-default tableSelect">&nbsp;</div></div>`);
            $(`#selectController${i}`).droppable({
                accept: '.controllerEntry',
                hoverClass: 'hovered',
                drop: handleDrop
            });
            $(`#selectTable${i}`).droppable({
                accept: '.tableEntry',
                hoverClass: 'hovered',
                drop: handleDrop
            });
        }

        $('.controllerSelect').css({ 'width': ($('.controllerEntry').width() + 'px') });
        $('.tableSelect').css({ 'width': ($('.tableEntry').width() + 'px') });
    }

    function handleDrop(event, ui) {
        ui.draggable.draggable('disable');
        $(this).droppable('disable');
        ui.draggable.position({ of: $(this), my: 'left top', at: 'left top' });
        ui.draggable.draggable('option', 'revert', false);
        selections[$(this).attr('id')] = $(ui.draggable).attr('id');
    }

    $(document).ready(function () {
        $('#submit').click(function () {
            var data = {};
            for (var i = 0; i < 3; i++) {
                if (selections[`selectController${i}`] && selections[`selectTable${i}`]) {
                    data[selections[`selectController${i}`]] = selections[`selectTable${i}`];
                }
            }
            $.ajax({
                url: '@Url.Action("AssignTables", "Process")',
                type: 'POST',
                contentType: "application/json; charset=UTF-8",
                dataType: 'json',
                cache: false,
                processData: false,
                data: JSON.stringify(data),
                success: function (data) {
                    console.log(data.success);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $('#reset').click(function () {
            db.ref().set({
                "tables": {
                    "Users": true,
                    "Postings": true,
                    "Friends": true
                },
                "controllers": {
                    "controller1": {
                        "deadlock": false
                    },
                    "controller2": {
                        "deadlock": false
                    },
                    "controller3": {
                        "deadlock": false
                    }
                }
            });
        });

        $('.controllers').change(function (e) {
            var sibling = $(e.target).siblings().not($('span'));

            if ($(sibling).val()) {
                $(e.target).parent().next().fadeIn();
            }

            var nextController = $(e.target).parent().next().find('.controllers');
            $(nextController).empty();
            $(e.target).children().each(function (i, element) {
                if (!$(element).is(':selected')) {
                    $(nextController).append($(element).clone());
                }
            });
        });

        $('.tables').change(function (e) {
            var sibling = $(e.target).siblings().not($('span'));

            if ($(sibling).val()) {
                $(e.target).parent().next().fadeIn();
            }

            var nextTable = $(e.target).parent().next().find('.tables');
            $(nextTable).empty();
            $(e.target).children().each(function (i, element) {
                if (!$(element).is(':selected')) {
                    $(nextTable).append($(element).clone());
                }
            });
        });
    });
</script>
