@model ChandyMishra.Models.ControllersModel

<h2>All Controllers</h2>

<div class="row" id="mainContent">
    @if (Model.Controllers != null)
    {
        <p>No Controllers Created Yet!</p>
    }
    else
    {
        foreach (string controller in Model.Controllers)
        {
            @await Component.InvokeAsync("Controller", controller)
        }
    }
</div>

<script>
    db.ref('/controllers/').on('value', function (snapshot) {
        UpdateData(snapshot.val());
    });

    function UpdateData(snap) {
        $('#mainContent').empty();
        if (Object.keys(snap).length === 0) {
            $('#mainContent').html('<p>No Controllers Created Yet!</p>');
        } else {
            Object.keys(snap).forEach(function (key, index) {
                $.ajax({
                    url: '@Url.Action("NewController", "Process")',
                    type: 'GET',
                    contentType: "application/json; charset=UTF-8",
                    data: { controllerName: key },
                    success: function (data) {
                        $('#mainContent').append(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        }
    }
</script>